*{
	margin:0px;
	padding:0px;
}
a{
	text-decoration:none;
	color:black;
}
a:hover{
	color:orange;
}
ul{
	list-style:none;
}
/*头部*/
#header{
	width:100%;
	height:220px;
}
#banner{
	background:url(../images/banner.jpg) no-repeat;
	height:180px;
	padding-left:200px;
	padding-bottom:0px;
}
#banner img{
	height:180px;
}
#nav{
	height:40px;
	line-height:40px;
	background:url(../images/nav.jpg) no-repeat;
}
#nav_content{
	float:left;
	padding-left:200px;
}
#nav_content a{
	color:white;
	text-decoration:none;
	padding-left:20px;
}
#nav_content a:hover{
	color:orange;
}
#shouye{
	color:yellow;
}
#nav_search{
	float:left;
	margin-left:300px;
	width:210px;
	height:30px;
}
#button{
	background-color:black;
	color:white;
	border:1px black solid;
}
#sousuokuang{
		background-color:white;
}
/*中部*/
#content{
	width:1000px;
	margin:auto;
	background:url(../images/content_bg.jpg);
	height:750px;
}
#mianbaoxie{
	height:30px;
	line-height:30px;
	color:blue;
	font-size:15px;
}
#content_left{
	width:680px;
	float:left;
}
.jingdian{
	margin-top:10px;
	height:160px;
	border:1px blue dashed;
}
.jingdian img{
	width:200px;
	height:150px;
	float:left;
}
.jingdian p{
	color:orange;
	font-size:15px;
	margin-top:6px;
}
p .name{
	color:red;
	font-weight:bold;
}
.xiangxi{
	font-size:10px;
	float:right;
}
#content_right{
	width:300;
	float:right;
}
#right_top{
	width:280px;
	background:url(../images/bg1.jpg) no-repeat;
	height:300px;
	margin-top:10px;
	margin-bottom:20px;
}
#right_top img{
	margin-left:65px;
}
#right_bottom{
	width:280px;
	height:350px;
	float:right;
	padding-top:20px;
	text-align:center;
	background:url(../images/bg1.jpg) no-repeat;
}
#biaodan{
	font-family:'楷体';
	color:red;
	font-size:25px;
}
#goupiao{
	font-family:'隶书';
	font-size:25px;
	color:blue;
}
#denglubutton{
	color:black;
	border:1px solid blue;
	margin-top:15px;
	margin-bottom:20px;
}
.dengluway{
	height:38px;
	line-height:38px;
	color:brown;
}
.num{
	border:1px blue solid;
	width:30px;
	height:25px;
	line-height:25px;
	display:block;
	float:left;
	margin-left:10px;
}
#yema{
	margin-left:100px;
	height:30px;
	margin-top:3px;
}
#shengluehao{
	float:left;
	margin-left:10px;
}
.shangxia{
	border:1px blue solid;
	width:40px;
	height:25px;
	line-height:25px;
	display:block;
	float:left;
	margin-left:10px;
	font-size:10px;
}
#one{
	color:red;
	width:30px;
	height:25px;
	line-height:25px;
	display:block;
	float:left;
	margin-left:10px;
}
/*底部*/
#footer{
	width:100%;
	height:100px;
	background:url(../images/footer.jpg);
	clear:both;
}
#footer p{
	text-align:center;
	padding-top:30px;
}